DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/job-board-api
TEST_DATABASE_URI=sqlite+aiosqlite:///./test.db
# Local development
REDIS_URL=redis://localhost:6379

# Docker Compose (change to this when using docker compose)
# REDIS_URL=redis://redis:6379

SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

RESEND_API_KEY=your-resend-api-key-here

POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=job-board-api

CORS_ORIGINS=*